
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

html {
    height: 100%;
    width: 100%;
    background: black;
    font-family: "Nanum Gothic", sans-serif;
    box-sizing: border-box;
    display: inline-block;
}

button {
    background: #020521;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inBlock {
    display: inline-block;
}

.Head {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    height: 98px;
    min-width: 960px;
    padding: 36px 2.5%;
    background: linear-gradient(to right, #f0424b, #bd0f18);
}

.headerDesc {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    right: 30%;
    height: 100px;
    max-width: 20%;
    color: white;
}

#bgIMGHeadShot {
    z-index: -1;
    background-size: cover;
    background-position: left;
    background-image: url("Imgs/HeadShot.jpg");
    background-repeat: no-repeat;
    opacity: 1;
}

.trapezoid {
    opacity: 100;
    margin: 0;
    border-top: 40px solid #555;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 48px;
    width: 80%;
    z-index: -1;
}

.nav {
    position: relative;
    bottom: 32px;
}

.Navbtn {
    width: 16.6667%;
}

.Navbtn, .dropbtn, .dropcontent button {
    margin: 0;
    border: none;
    height: 20px;
    padding: 5px;
    vertical-align: top;
}

.dropbtn, .dropcontent, .dropcontent button {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 16.6667%;
}

.dropcontent {
    width: 100%;
    margin: 0;
    border: none;
    display: none;
    position: absolute;
}

.dropcontent button {
    margin: 0;
    display: block;
}

.dropdown:hover .dropcontent {
    display: block;
}

.quote {
    position: relative;
    bottom: 275px;
    background-color: #F41C0C;
    height: 300px;
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.quotetext {
    color: black;
    font-size: 60px;
}

#Name {
    float: left;
}

#contact {
    float: right;
    text-align: right;
}

#Roffset {
    position: relative;
    left: 48px;
}

.headshotIMG {
    display: inline;
    width: 100%;
    position: relative;
    bottom: 90px;
    z-index: -1;
}